:root {
    --main-grey: #333;
    --main-grey-medium-opacity: rgba(51, 51, 51, .75);
    --main-white: #eee;
    --secondary-white: #ccc;
    --main-purple: #321E3E;
    /* --main-orange: #9E6200; */
    --main-orange: #E17F5D;
    --main-orange-low-opacity: rgba(225, 127, 93, .75);
    --main-blue: #00888C;
    /* --main-blue: #4E8AB2; */
    --serif-font: "Merriweather", "Times New Roman", Georgia, serif;
    --sans-font: 'Lato', Arial, Helvetica, sans-serif;
    --text-shadow: 2px 2px 3px rgba(51, 51, 51, 0.7);
}

/*#region Generic */
@font-face {
    font-family: 'Lato';
    src: url('./Fonts/Lato/Lato-Regular.ttf') format("truetype");
}
  
  @font-face {
    font-family: "Merriweather";
    src: url("./Fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
}

* {
    /* background-color: var(--main-grey);s */
    box-sizing: border-box;
    color: var(--main-white);
    font-family: var(--sans-font);
    font-weight: normal;
    margin: 0;
    padding: 0;
    z-index: 5;
}

body {
    background-color: var(--main-grey);
    height: 100%;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 3rem;
    font-weight: normal;
}

svg {
    max-height: 100%;
}
/*#endregion Generic */


.start_button_container {
    align-items: center;
    background-color: var(--main-grey-medium-opacity);
    display: flex;
    /* display: none;  */
    justify-content: center;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.start_button {
    background-color: var(--main-purple);
    border-radius: 15px;
    color: var(--main-white);
    font-size: 55px;
    padding: 15px;
}

/*#region Top Bar  */
.top-bar {
    align-items: center;
    /* border-bottom: solid 1px var(--main-white); */
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    /* box-shadow: 0px 0px 5px var(--main-white); */
    height: 75px;
}

.home {
    color: var(--main-blue);
    font-size: 1.5rem;
    font-family: var(--serif-font);
}

.volume {
    max-height: 40px;
}
/*#endregion Top Bar  */

/*#region Main Game  */
.main-game {
    align-items: center;
    background-color: var(--main-purple);
    /* box-shadow: inset 0px 5px 1px rgba(250,250,250.1); */
    /* border: solid 1px white; */
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(20, auto);
    grid-template-rows: repeat(20, auto);
    justify-items: center;
    height: 100%;
    padding: 5px;
    position: relative;
}

.fading-box-shadow {
    box-shadow: inset 0px 5px 15px var(--main-orange);
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 270ms;
    width: 100%;
}

.snake-head, .snake-body {
    border-radius: 5px;
    /* height: 15px; */
    height: 100%;
    /* position: fixed; */
    /* width: 15px; */
    width: 100%;
    /* transition: opacity 235ms; */
}

.snake-head.snake-body {
    background-color: var(--main-blue);
}

.snake-body {
    background-color: var(--main-white);
}

.tasty-bit {
    background-color: var(--main-white);
    border-radius: 5px;
    height: 25%;
    /* position: fixed; */
    width: 25%;
}
/*#endregion Main Game  */

/*#region Bottom Bar  */
.bottom-bar {
    align-items: center;
    /* border-top: solid 1px var(--main-white); */
    display: flex;
    /* background-color: white; */
    justify-content: space-between;
    /* height: 150px; */
    height: 25vh;
    padding: 1vh 15px;
}


.pause, .restart {
    max-height: 40%;
}
/*#endregion Bottom Bar  */